<div class="col-md-12">
<div class="col-md-2">
    <div class="panel panel-success ">
        <div class="panel-heading  "><h4>{{eventCtrl.event.name}}</h4></div>
        <div class="panel-body">
            <p>Taste: {{eventCtrl.event.taste}}</p>
            <p class="text-success" data-ng-if="eventCtrl.event.edible">Edible  </p>
            <p class="text-warning" data-ng-if="!eventCtrl.event.edible">Poisonous </p>
        </div>
    </div>

</div>

fdasfdsafdasfdasfsadfdasfdasfasdfdsaf KARTA
</div>