
    <div class="panel panel-success ">
        <div class="panel-heading  "><h4>{{eventCtrl.event.name}}</h4></div>
        <div class="panel-body">
            <div class="col-md-2">
                <p>Taste: {{eventCtrl.event.taste}}</p>
                <p class="text-success" data-ng-if="eventCtrl.event.edible">Edible  </p>
                <p class="text-warning" data-ng-if="!eventCtrl.event.edible">Poisonous </p>
            </div>
            <!--center="[{{eventCtrl.position.latitude}},{{eventCtrl.position.longitude}}]"-->
            <div class="col-md-10">
                <map zoom="20"
                     center="current-location"
                     disable-default-u-i="true"
                     disable-double-click-zoom="true"
                     draggable="true"
                     keyboard-shortcuts="false"
                     tilt="45"
                     map-type-id="TERRAIN">

                    <marker ng-repeat="position in eventCtrl.positions"
                            position="[{{position.lat}},{{position.lng}}]"
                            title="Hello Marker"
                            animation="Animation.BOUNCE"
                            draggable="true"
                            visible="true">
                    </marker>
                </map>
            </div>
        </div>
    </div>




