<p>This is my login view</p>
<div class="col-md-4" data-ng-controller="loginctrl as auth">
    <div class="panel panel-primary">
        <div class="close" data-ng-click="auth.toRoot()" >&times;</div>
        <div class="panel-heading">
            <h3 class="panel-title">Log in</h3>

        </div>
        <div class="panel-body">
            <form novalidate name="auth.form" class="simple-form">
                name: <br />
                <input type="text" ng-model="auth.name"/><br />
                Password: <br />
                <input type="password" ng-model="auth.password"/>
                <button data-ng-click="auth.login()">Log in</button>
            </form>
            <h4>You need to login to post and edit</h4>
            <div class="alert alert-danger"> {{auth.error}}</div>
        </div>
    </div>
</div>