/* app css stylesheet */


body {
    padding-top: 70px;
}
nav ul li{
    margin-right: 7px;

}

nav ul li a{
    font-weight: 200;
    font-size: 1.4em;

}
#secondNav{
    margin-top:50px;
}
#selectMarker{
    z-index: 5;
}
marker{
    z-index: 2;
}

@media (max-width: 768px) {
    body {
        padding-top: 240px;
    }

}
