<div ng-controller="loginctrl as loginScope" >
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-header col-md-4">
            <form class="navbar-form " role="search">
                <div class="input-group col-md-12">
                    <input ng-model="search" type="text" class="form-control" placeholder="Search by plant species " name="q">
                    <div class="input-group-btn">
                        <a class="btn btn-default" href="/search/{{search}}"   type="submit"><i class="glyphicon glyphicon-search"></i></a>
                    </div>
                </div>
            </form>
        </div>
        <ul  class="menu nav navbar-nav navbar-right ">
            <li ><a class="" href="/types">Find by categories</a></li>
            <li ng-if="loginScope.loginService.authorized" ><a class="" href="/create" >Create new finding</a></li>
            <li ng-if="loginScope.loginService.authorized" ng-click="loginScope.logout()"  ><a class="" href="/logout" >Logout</a></li>
            <li ng-if="!loginScope.loginService.authorized"><a class=""  href="/login">Login</a></li>
        </ul>
    </nav>
</div>